<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Hello Base page</h1>
    {% if session_exist %}
        <form action="{% url 'saveit' %}" method="GET">
            <button type="submit"> Back to Home Page </button>
        </form>
        <form action="{% url 'delete_session' %}" method="GET">
            <button type="submit"> Log Out </button>
        </form>
    {% else %}
    <form action="{% url 'saveit' %}" method="GET">
        <input type="text" name="name" id="" placeholder="user name">
        <input type="password" name="password" id="" placeholder="password">
        <button type="submit">Submit</button>
    </form>

    {% endif %}

    <script>
        var x = document.getElementById("name");
        x.value = "";
    </script>

</body>
</html>